<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.jiang.travels.dao.UserDao">

    <!--  开启mybatis的二级缓存 需要开启序列化  -->
    <cache type="com.jiang.travels.cache.RedisCache"/>


    <!--注册用户-->
    <insert id="save" parameterType="com.jiang.travels.entity.User" useGeneratedKeys="true" keyProperty="id">
        insert into t_user values (#{id},#{username},#{password},#{email})
    </insert>


    <select id="findByUserName" resultType="com.jiang.travels.entity.User">
        select * from t_user where username = #{name}
    </select>

    <update id="updata" parameterType="com.jiang.travels.entity.User">
        update t_user set email = #{email}
        where id = #{id}
    </update>

</mapper>